<ion-view class="intro-view">
  <ion-content scroll="false">
    <div class="logo text-center">
      <img src="./img/logo.png" alt="" class="img-responsive">
    </div>

    <h1>Bienvenido a TamTam</h1>
    <div class="slogan text-center">
      Llamadas y mensajes gratis.
      <p>Envio de stikers de gran calidad.</p>
    </div>

    <div class="term text-center">
      Al seleccionar Continuar, usted acepta <a href="http://tamtam.website/politica/terminos.html">Terminos y Pólitica de privacidad</a>
    </div>

    <div class="start text-center">
      <button class="button button-royal" ui-sref="login">Continuar</button>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable" style="background-image: none; background-color: transparent; border-color: transparent;">
    <div class="slogan text-center" style="color:#006fff">
      Copyright 2017 Twister Global S.L
    </div>
  </ion-footer-bar>
</ion-view>
