<ion-view view-title="Public" class="tab-public">
  <!--<ion-header-bar class="bar-royal">-->
    <!--<div class="title">Public</div>-->
    <!--<button class="button button-icon" ng-click="modalPublic.show()">-->
      <!--<img src="./img/add.png" alt="" class="img-responsive" width="20">-->
    <!--</button>-->
  <!--</ion-header-bar>-->
  <ion-content>
    <div class="list">

      <a class="item item-thumbnail-left" ng-repeat="item in data.publics" ng-click="goPublicDetail(item._id)">
        <img ng-src="{{item.avatar}}" style="border-radius: 50%;">
        <h2>{{item.name}}</h2>
        <p>{{item.lastMessage}}</p>
        <p>{{item.follows.length}} Follow</p>
      </a>

    </div>

    <div class="no-public-channel text-center" ng-if="!data.publics.length" ng-click="modalPublic.show()">
      <i class="ion ion-ios-plus-outline"></i>
      <div>Puede hacer clic aquí para crear un canal público para todos los usuarios</div>
    </div>
  </ion-content>
</ion-view>
