<ion-modal-view style="background-color: #fff;">
    <ion-header-bar class="bar-royal">
        <button class="button button-icon icon" ng-click="hideModalCropImage()">
             <img src="./img/close.png" alt="" class="img-responsive" width="27">
        </button>
        <div class="tab-contact title">
            Ajustar avatar
        </div>
        <button class="button" ng-click="getImageCrop()">Hecho</button>

    </ion-header-bar>

    <ion-content scroll="false">
      <div class="padding text-center">
        <label for="file" class="button">
          <input type="file" img-cropper-fileread image="cropper.sourceImage" name="file" id="file" class="inputfile" hidden/>
          Seleccionar foto
        </label>
      </div>

      <div>
        <canvas style="width: 100%;" height="300" id="canvas" crop-width="300" crop-height="300" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="400" crop-height="200" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
      </div>

    </ion-content>
</ion-modal-view>

