<ion-modal-view title="Location">
    <ion-header-bar class="bar-royal">
        <div class="buttons">
            <button class="button button-icon ion-ios-close" ng-click="modalLocation.hide()"></button>
        </div>
        <h1 class="title">Localización</h1>
        <div class="buttons">
            <button class="button button-icon ion-ios-checkmark-empty" ng-click="sendLocation()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="location-main" scroll="false">
        <div id="map" class="width-100 height-50 float-left" style="width: 100%; height: 50%"></div>
        <div class="list no-margin">
            <a class="item item-icon-left item-icon-right">
               
                <p>Posición actual</p>
                <i class="icon icon-planes positive"></i></a>
        </div>
    </ion-content>
</ion-modal-view>
