.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.bar.bar-royal {
  border-color: #006fff;
  background-color: #f5f5f5;
  color: #006fff;
}

.bar.bar-royal .title {
  color: #444;
}
.bar-header {
  top: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
}

.bar.bar-royal {
  background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
}

.button.button-royal {
  border-color: transparent;
  background-color: #006fff;
  color: #fff;
}

.button.button-royal.active, .button.button-royal.activated {
  border-color: #a2a2a2;
  background-color: #006fff;
}

body {
  font-family: "Helvetica Neue" !important;
}

.intro-view {
  background-color: #f3f3f3;
  background: url(../img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .logo {
    max-width: 150px;
    margin: 0 auto;
    padding: 40px 10px;
  }

  h1 {
    font-weight: 300;
    text-align: center;
    max-width: 280px;
    margin: 0 auto;
    color: #006fff;
    font-size: 28px;
    margin-bottom: 10px;
  }

  .slogan {
    padding: 10px;
    max-width: 300px;
    font-size: 15px;
    margin: 0 auto;
    color: #616161;
    padding-bottom: 40px;
  }

  .term {
    color: #616161;
    max-width: 250px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 20px;
  }

  .start button {
    padding: 0 30px;
    border-radius: 5px;
  }
}

.login-view {
  background-color: #f3f3f3;

  .country {
    color: #888;
    display: block;
    padding: 10px;
    height: 48px;
    line-height: 27px;
    font-size: 13px;

    i {
      font-size: 20px;
      margin-top: 3px;
      float: right;
    }
  }

  .phone-number {
    padding: 6px 10px;
    font-size: 13px;
  }
}

.bold {
  font-weight: 600;
}

.f-small {
  font-size: 12px;
}

ion-tabs.tabs-color-active-royal .tab-item.activated, ion-tabs.tabs-color-active-royal .tab-item.active, ion-tabs.tabs-color-active-royal .tab-item.tab-item-active {
  color: #006fff;
}

.item-color {
  padding-right: 85px;

  .color {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 40px;
  }

  .icon-wohoo {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -15px;
  }

  .invite-user {
    position: absolute;
    right: 10px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: #006fff;
    font-size: 14px;
    top: 50%;
    margin-top: -15px;
  }
}

.contact-view {
  .bar-subheader {
    background-color: #fff;
    padding: 8px 10px;
    .item-input {
      width: 100%;
      border-radius: 5px;
      background-color: #eee;
    }
  }

  .tab-contact {
    padding: 5px 0;
    .content {
      width: 160px;
      margin: 2px auto;
      border: 1px solid #006fff;
      border-radius: 3px;
      height: 30px;
      line-height: 28px;

      a {
        width: 50%;
        display: block;
        float: left;
        text-align: center;
        font-weight: 400;
        height: 28px;
        font-size: 14px;
        color: #006fff;

        &:first-child {
          border-bottom-left-radius: 3px;
          border-top-left-radius: 3px;
        }

        &:last-child {
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
        }

        &.active {
          background-color: #006fff;
          color: #fff;
        }
      }
    }
  }
}

.button {
  border-color: transparent;
  background-color: #006fff;
  color: #fff;
}

.tab-account {
  .bg-contact {
    height: 350px;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    i {
      position: absolute;
      top: 0;
      right: 0;
      padding: 11px;
      font-size: 40px;
      color: #888;

      &:before {
        background-color: rgba(56, 126, 245, 0.78);
        padding: 8px 10px;
        border-radius: 50%;
        color: #fff;
        font-size: 30px;
      }
    }
  }
}

.bar-royal .button {
  border-color: #006fff;
  background-color: #006fff;
  color: #fff;
}

.contact-detail-view {
  .contact-button {
    padding: 20px 0;
    background-color: #fff;
  }
  .item {
    font-size: 14px;
    p {
      color: #33cd5f;
      font-size: 12px;
    }
  }
}

body {
  font-family: "Helvetica Neue" !important;
}
